<!DOCTYPE html>
<html lang="tw">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.0/css/bulma.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    <div id="root" class="container">
        <!--header-->
        <section class="hero is-dark is-medium">
            <!-- Hero header: will stick at the top -->
            <div class="hero-head">
                <header class="nav">
                    <div class="container">
                        <div class="nav-left">
                            <a class="nav-item">
                                Stable
                            </a>
                        </div>
                    </div>
                </header>
            </div>

        </section>


        <!--container-->
        <section class="section is-medium">
            <!--menu-->
            <div class="container menu filters">

                <div class="field is-horizontal">
                    <div class="field-label">
                        <label class="label">性別</label>
                    </div>
                    <div class="field-body">
                        <label class="radio" v-for="gender in filterOption.gender">
                            <input v-model="inputFilter.gender" type="radio" :value="gender.value">
                            {{gender.name}}
                        </label>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-label">
                        <label class="label">世代</label>
                    </div>
                    <div class="field-body">
                        <label class="radio" v-for="generation in filterOption.generation">
                            <input v-model="inputFilter.generation" type="radio" :value="generation.value">
                            {{generation.name}}
                        </label>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-label">
                        <label class="label">交配</label>
                    </div>
                    <div class="field-body">
                        <label class="radio" v-for="mating_count in filterOption.mating_count">
                            <input v-model="inputFilter.mating_count" type="radio" :value="mating_count.value">
                            {{mating_count.name}}
                        </label>
                    </div>
                </div>
        </section>

        <!--menu end-->

        <!--horse cards-->
        <section class="section is-medium">
            <div class="container columns is-multiline ">

                <div class="column is-one-quarter card" v-for="horse in filterHorses">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img src="http://fakeimg.pl/290/" alt="Image">
                        </figure>
                    </div>

                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-4">
                                    {{horse.name}} ({{horse.level}})
                                </p>
                                <div class="subtitle is-6">
                                    <span class="icon is-small">
                                        <i :class="[horse.gender == 'male'? genderClass.male : genderClass.female]"></i>
                                    </span> {{horse.generation}} 世代
                                    <dif class="is-pulled-right">出生於 {{horse.created_at}}</dif>
                                </div>


                            </div>
                        </div>

                        <div class="content">
                            {{horse.desc}}

                            <div>
                                色碼：
                                <span class="text white">{{horse.color_code.white}}</span>
                                <span class="ui text grey">{{horse.color_code.black}}</span>
                            </div>

                            <div>
                                交配次數: {{horse.mating_count}}
                            </div>

                        </div>

                        <footer class="card-footer">
                            當前位置: {{horse.city}}
                        </footer>

                    </div>

                </div>
            </div>
        </section>
        <!--horse cards end-->


        <button @click='createHorse'>create horse</button>
        <!--container end-->

        <!--modal-->
        <div class="modal">
            <div class="modal-background"></div>
            <div class="modal-content">
                <div class="box">
                    <article class="media">
                        <div class="media-left">
                            <figure class="image is-64x64">
                                <img src="http://bulma.io/images/placeholders/128x128.png" alt="Image">
                            </figure>
                        </div>
                        <div class="media-content">
                            <div class="content">
                                <p>
                                    <strong>John Smith</strong> <small>@johnsmith</small> <small>31m</small>
                                    <br> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa fringilla egestas. Nullam condimentum luctus turpis.
                                </p>
                            </div>
                            <nav class="level">
                                <div class="level-left">
                                    <a class="level-item">
                                        <span class="icon is-small"><i class="fa fa-reply"></i></span>
                                    </a>
                                    <a class="level-item">
                                        <span class="icon is-small"><i class="fa fa-retweet"></i></span>
                                    </a>
                                    <a class="level-item">
                                        <span class="icon is-small"><i class="fa fa-heart"></i></span>
                                    </a>
                                </div>
                            </nav>
                        </div>
                    </article>
                </div>
            </div>
            <button class="modal-close"></button>
        </div>
        <!--modal end-->

        </div>

        <script src="https://unpkg.com/vue"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pouchdb/6.2.0/pouchdb.js"></script>
        <script src="js/main.js"></script>

</body>

</html>