<!DOCTYPE html>
<html lang="tw">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.0/css/bulma.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    <div id="root">
        <!--header-->
        <nav class="nav has-shadow" id="top">
            <div class="container">
                <div class="nav-left">
                    <a class="nav-item" href="../index.html">
                        Stable
                    </a>

                </div>
                <div class="nav-right">
                    <div class="nav-item">
                        <a class="button is-info" @click='showCreateHorseModal = true'>新增馬匹</a>
                    </div>
                </div>
            </div>
        </nav>


        <!--container-->
        <div class="container">

            <!--menu-->
            <div class="section menu">

                <div class="field is-horizontal">
                    <div class="field-label">
                        <label class="label">性別</label>
                    </div>
                    <div class="field-body">
                        <label class="radio" v-for="gender in filterOption.gender">
                            <input v-model="inputFilter.gender" type="radio" :value="gender.value">
                            {{gender.name}}
                        </label>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-label">
                        <label class="label">世代</label>
                    </div>
                    <div class="field-body">
                        <label class="radio" v-for="generation in filterOption.generation">
                            <input v-model="inputFilter.generation" type="radio" :value="generation.value">
                            {{generation.name}}
                        </label>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-label">
                        <label class="label">交配</label>
                    </div>
                    <div class="field-body">
                        <label class="radio" v-for="matingCount in filterOption.matingCount">
                            <input v-model="inputFilter.matingCount" type="radio" :value="matingCount.value">
                            {{matingCount.name}}
                        </label>
                    </div>
                </div>
            </div>
            <!--menu end-->

            <!--horse cards-->
            <div class="section columns is-multiline">

                <div class="column is-one-quarter" v-for="horse in filterHorses">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-4by3">
                                <img :src="'imgs/horses/' + horse.tier + '.png'" alt="Image">
                            </figure>
                        </div>

                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                    <p class="title is-4">
                                        {{horse.name}} ({{horse.level}})
                                    </p>
                                    <div class="subtitle is-6">
                                        <span class="icon is-small">
                                        <i :class="[horse.gender == 'male'? genderClass.male : genderClass.female]"></i>
                                    </span> {{horse.generation}} 世代
                                        <div class="is-pulled-right">出生於 {{horse.created_at}}</div>
                                    </div>


                                </div>
                            </div>

                            <div class="content">
                                {{horse.desc}}

                                <div>
                                    色碼：
                                    <span class="text red">{{horse.color.red}}</span>
                                    <span class="text black">{{horse.color.black}}</span>
                                    <span class="text grey">{{horse.color.white}}</span>
                                </div>

                                <div>
                                    剩餘交配次數: {{horse.matingCount}}
                                </div>

                            </div>

                        </div>

                        <footer class="card-footer">
                            <a class="card-footer-item">交配</a>
                            <a class="card-footer-item">販售</a>
                            <a class="card-footer-item" @click="showEditHorseModal=true; selectedHorse=horse">編輯</a>
                            <a class="card-footer-item" @click="removeHorse(horse)">刪除</a>
                            <!--當前位置: {{horse.city}}-->
                        </footer>
                    </div>

                </div>

            </div>
            <!--horse cards end-->

        </div>
        <!--container end-->


        <!--modal-->
        <create-horse-modal v-if="showCreateHorseModal" @close="showCreateHorseModal = false"></create-horse-modal>
        <edit-horse-modal v-if="showEditHorseModal" @close="showEditHorseModal = false" :input-horse="selectedHorse"></edit-horse-modal>
        <login-modal v-if="showLoginModal" @close="showLoginModal = false"></login-modal>

        <!--modal end-->

    </div>

    </div>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://www.gstatic.com/firebasejs/3.9.0/firebase.js"></script>
    <script src="https://unpkg.com/vuefire/dist/vuefire.js"></script>
    <script src="js/main.js"></script>


</body>

</html>